.root {
    -fx-background-color: #505050;
    -fx-font-family: 'sans-serif';
}

.label {
    -fx-font-size: 30;
    -fx-text-fill: #eeeeee;

}

.right {

}

#left {
    -fx-background-color: #333333;
    -fx-font-size: 50;
}

#chat {
    -fx-background-color: #333333;
    -fx-font-size: 40;
}

#pro_pic{
    -fx-border-radius: 30;
}

#Bar {

}

#Contacts {
    -fx-background-color: #505050;
}

#recipient {

}

#transmitter {

}

.list-view .list-cell:even {
    -fx-background-color: #333333;
    -fx-text-fill: white;
}
.list-view .list-cell:odd {
    -fx-background-color: #333333;
    -fx-text-fill: white;
}

.contactss .list-cell:odd {
    -fx-background-color: #505050;
    -fx-text-fill: white;
    -fx-background-insets: 1;
    -fx-border-color: #5A5A5A;
}
.contactss .list-cell:even {
    -fx-background-color: #505050;
    -fx-text-fill: white;
    -fx-background-insets: 1;
    -fx-border-color: #5A5A5A;
}

.jfx-button {
    -fx-font-family: 'sans-serif';
    -fx-font-size: 30;
    -fx-text-fill: #000000;
    -fx-background-color: #464646;
}

.jfx-button:focused {
    -fx-background-color: #000000;
    -fx-text-fill: #eeeeee;
}

/*

.jfx-text-field {
    -fx-font-size: 70;
    -fx-text-fill: #eeeeee;
    -jfx-focus-color: red;
    -jfx-unfocus-color: red;
}*/

.jfx-text-field
{
    -fx-font-size: 30;
    -jfx-focus-color: #0099E5;
}

.text-field
{
    -fx-prompt-text-fill: #FFC20E;
    -fx-text-fill: white;
}
.jfx-password-field {
    -fx-font-size: 30;
    -jfx-focus-color: #0099E5;
}
.check-box{
    -fx-font-size: 30;
}

.text-field .input-line
{
    -fx-background-color: #FFC20E;
}

#message{
    -fx-font-size: 45;
    -fx-text-fill: #ffffff;

}

.Search {
    -fx-text-fill: white;
    -fx-font-size: 45;
    /*-fx-background-color: #FFC20E;*/
}
#search{
    -fx-background-color: #505050;
}

.serachBox {
}

.MorePane {
    -fx-border-color: white;
    -fx-background-color: #505050;
    -fx-font-size: 10 ;
}
#note{
    -fx-font-size: 30 ;
}
.moreLabels{
    -fx-font-size: 45 ;
}


.UserInfo {
    -fx-border-color: white;
    -fx-background-color: #505050;
}

#con_lbl{
    -fx-font-size: 18;
}
#connection{
    -fx-background-color: #5f5f5f;
}